
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-cog-alt:before { content: '\e802'; } /* '' */
.icon-wallet:before { content: '\e803'; } /* '' */
.icon-right-bold:before { content: '\e804'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
.icon-github-squared:before { content: '\f300'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
